<!DOCTYPE html>
<html lang="en">
<head>
  <title>basic tempate</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- images links -->

  <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="assets/css/accordion-slider.min.css" media="screen"/>
  <link rel="stylesheet" type="text/css" href="css/examples.css" media="screen"/>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
  
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script type="text/javascript" src="assets/js/jquery.accordionSlider.min.js"></script>

  <script type="text/javascript">
	jQuery(document).ready(function($) {
		// instantiate the accordion
		$('#example1').accordionSlider({
			width: 960,
			height: 400,
			responsiveMode: 'auto',
			visiblePanels: 6,
			closePanelsOnMouseOut: false,
			autoplay: true
		});
    });
    </script>

</head>
<body>
<!--header section start-->
        <div class="header sticky-top" id="header">
            <nav class="navbar navbar-expand-lg navbar-light text-capitalize" id="navbar1">
                <div class="container">
                    <a class="navbar-brand" href=""><h2 class="text-white text1">BHARATH</h2></a>
                    <div class="collapse navbar-collapse" id="show-menu">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active"><a class="nav-link" href="#home"><b>Home</b></a></li>
                            <li class="nav-item"><a class="nav-link" href="#about"><b>About</b></a></li>
                            <li class="nav-item"><a class="nav-link" href="#services"><b>Services</b></a></li>
                            <li class="nav-item"><a class="nav-link" href="#blog"><b>Blog</b></a></li>
                            <li class="nav-item"><a class="nav-link" href="#gallery"><b>Gallery</b></a></li>
                            <li class="nav-item"><a class="nav-link" href="#contact"><b>Contact</b></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
<!--header section end-->

<!--section start point-->
<section class="banner" id="home">
    <div class="container main-menu">
        <div class="row py-4">
            <div class="col-lg-6 col-sm-4 main-menu1">
                <div class="menu1">
                <h2 class="my-4">Let's Check and Optimize your website!</h2>
                <p>Ignite the most powerfull growth engine you have ever built for your company</p>
            </div>
            </div>
            <div class="col-lg-6 col-sm-4 main-menu2">
             
    
                <img class="bannerimg" src="assets/images/banner_image_1.svg">
          
            </div>
        </div>             
    </div>
</section>
<!--section end point-->

<!--page section start-->
<section>
        <div class="page-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-4">
                        <div class="cards">
                            <div class="shadow bg-white rounded py-4">
                                <div class="cards1">
                                    <img src="assets/images/service-1.svg"alt="card1">
                                </div>
                                <div class="card-body">
                                    <h5 class="text-center px-5">SEO Consultancy</h5>
                                    <p class="px-5">We help you define your SEO objective & develop a realistic strategy with you</p>
                                    <button type="button" class="btn btn-primary px-5">submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <div class="cards">
                            <div class="shadow bg-white rounded py-4 ">
                                <div class="cards2">
                                    <img src="assets/images/service-2.svg"alt="card2">
                                </div>
                                <div class="card-body">
                                    <h5 class="text-center px-5">Content Marketing</h5>
                                    <p class="px-5">We help you define your SEO objective & develop a realistic strategy with you</p>
                                    <button type="button" class="btn btn-primary px-5">submit</button>
                                </div>
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <div class="cards">
                            <div class="shadow bg-white rounded py-4">
                                <div class="cards1">
                                    <img src="assets/images/service-3.svg"alt="card3">
                                </div>
                                <div class="card-body">
                                    <h5 class="text-center px-5">Keyword Research</h5>
                                    <p class="px-5">We help you define your SEO objective & develop a realistic strategy with you</p>
                                    <button type="button" class="btn btn-primary px-5">submit</button>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--page section end-->

<!--content section start--> 
<section id="about">
<div class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 cl-sm-4 py-5 content1">
                <span class="subhead">about us</span>
                <h3 class="title-section py-2">The number #1 SEO Service Company</h3>
                <div class="divider"></div>
                <P>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</P>
                <P>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.</P>
                <button type="button" class="btn btn-primary">Read More</button>
            </div>
            <div class="col-lg-6 cl-sm-4">
                <img src="assets/images/about_frame.png">
            </div>
        </div>
    </div>
</div>
</section>
<!--content section end-->
<section id="services">
    <div class="page-section">
        <div class="container pt-4">
            <div class="text-center">
                <span class="subhead">our services</span>
                <h2 class="title-section">How SEO Team Can Help</h2>
                <div class="divider mx-auto"></div>
            </div>
            <div class="row py-4">
                <div class="col-lg-3 col-sm-4"id="text-center">
                    <div class="features text-center">
                        <i class="fa fa-building-o" aria-hidden="true"></i>
                        <h3>business</h3>
                        <p>Business is the activity of making one's living or making money by producing or buying and selling products</p> 
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4"id="text-center">
                    <div class="features text-center">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                        <h3>information</h3>
                        <p>information is stimuli that has meaning in some context for its receiver. When information is entered into and stored in a computerey</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4"id="text-center">
                    <div class="features text-center">
                        <i class="fa fa-desktop" aria-hidden="true"></i>
                        <h3>computer</h3>
                        <p>A computer is a machine that can be programmed to carry out sequences of arithmetic or logical operations automatically</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4"id="text-center">
                    <div class="features text-center">
                        <i class="fa fa-hourglass-end" aria-hidden="true"></i>
                        <h3>OnSite SEO</h3>
                        <p>We analyse your website's structure, internal architecture & other key</p>
                    </div>
                </div>
            </div>
            <div class="row py-4">
                <div class="col-lg-3 col-sm-4"id="text-center">
                    <div class="features text-center">
                        <i class="fa fa-university" aria-hidden="true"></i>
                        <h3>OnSite SEO</h3>
                        <p>We analyse your website's structure, internal architecture & other key</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4"id="text-center">
                    <div class="features text-center">
                        <i class="fa fa-android" aria-hidden="true"></i>
                        <h3>OnSite SEO</h3>
                        <p>We analyse your website's structure, internal architecture & other key</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4"id="text-center">
                    <div class="features text-center">
                        <i class="fa fa-desktop" aria-hidden="true"></i>
                        <h3>OnSite SEO</h3>
                        <p>We analyse your website's structure, internal architecture & other key</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4"id="text-center">
                    <div class="features text-center">
                        <i class="fa fa-hourglass-end" aria-hidden="true"></i>
                        <h3>OnSite SEO</h3>
                        <p>We analyse your website's structure, internal architecture & other key</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--form-section start-->
<section>
    <div class="forms-section">
        <div class="bg-image" style="background-image: url(assets/images/best-background.jpg);">
            <div class="container text-center"id="form-text">
                <h2>Check your Website SEO</h2>
                <div class="input-group my-4">
                    <input type="text" class="form-control" id="form-control"placeholder="Eg.GOOGLE.COM">
                    <div class="input-group-append">
                      <button class="btn btn-success" type="submit">CHECK NOW</button>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--form section end-->

<!--page section information start-->
<section class="margin-top">
    <div class="section" id="page-information">
        <div class="bg-image" style="background-image: url(assets/images/bg-image.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-4 page-information1">
                        <h2 class="text">SEO to Improve Brand
                            <br>Visibility<br></h2>
                            <div class="divider bg-white"></div>
                        <p>We're an experienced and talented team of passionate consultants who breathe with search engine marketing</p>
                        <ul>
                            <li class="text-white">
                                <h3 class="text-white">SEO Content Strategy</h3>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                            </li>
                        </ul>
                        <ul>
                            <li class="text-white">
                                <h3 class="text-white">B2B SEO</h3>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-lg-4" id="image">
                        <div class="image1">
                            <img src="assets/images/banner_image_2.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--page section information end-->


<!--page section information1 start-->
<section id="blog">
        <div class="page-section">
            <div class="text-center">
                <div class="subhead py-1">OUR BLOG</div>
                <h3 class="text-center text-secondary">Read Latest News</h3>
                <div class="divider mx-auto p-1"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-lg-4 "id="card-section2">
                        <div class="card shadow bg-white rounded">
                            <img class="card-img-top" src="assets/images/blog-1.jpg" alt="Card image" style="width:100%">
                            <div class="card-body">
                              <h4 class="card-title text-secondary">Source of Content Inspiration</h4>
                              <p class="card-text text-secondary">Posted On :<a href="#"> 20/10/2021</a></p> 
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-4 col-lg-4"id="card-section2">
                        <div class="card  shadow bg-white rounded">
                            <img class="card-img-top" src="assets/images/blog-2.jpg" alt="Card image" style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title text-secondary">Source of Content Inspiration</h4>
                                <p class="card-text text-secondary">Posted On :<a href="#"> 22/11/2021</a></p> 
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-4 col-lg-4"id="card-section2">
                        <div class="card  shadow bg-white rounded">
                            <img class="card-img-top" src="assets/images/blog-3.jpg" alt="Card image" style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title text-secondary">Source of Content Inspiration</h4>
                                <p class="card-text text-secondary">Posted On :<a href="#"> 10/12/2021</a></p> 
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
<!--page section information1 end-->
<section id="gallery">
    <div class="text-center">
        <div class="subhead py-1">INFORMATION</div>
        <h3 class="text-center text-secondary">FRONTEND DEVELOPMENT</h3>
        <div class="divider mx-auto p-1"></div>
    </div>
<div id="example1" class="accordion-slider my-4">
    <div class="as-panels">

        <!-- Panel 1 -->
        <div class="as-panel">
            <a href="http://bqworks.com">
                <img class="as-background" src="assets/images/image-slider1.jpg">
            </a>

            <div class="as-layer as-closed as-white as-vertical panel-counter" 
                 data-position="bottomLeft" data-horizontal="8" data-vertical="8">
                 javascript
            </div>

            <h3 class="as-layer as-opened as-black as-padding" 
                data-horizontal="40" data-vertical="10%" 
                data-show-transition="left" data-hide-transition="left">
                Bharath
            </h3>
            <p class="as-layer as-opened as-white as-padding hide-medium-screen" 
                data-horizontal="40" data-vertical="22%" 
                data-show-transition="left" data-show-delay="200" data-hide-transition="left" data-hide-delay="200">
                consectetur adipisicing elit
            </p>
            <p class="as-layer as-opened as-black as-padding hide-small-screen" 
                data-horizontal="40" data-vertical="34%" data-width="350" 
                data-show-transition="left" data-show-delay="400" data-hide-transition="left" data-hide-delay="500">
                A modern color picker app <span class="data-hide-transition:top"></span>that generates random colors and allows users to copy color codes (HEX or RGB) in a modal popup.
            </p>
        </div>

        <!-- Panel 2 -->
        <div class="as-panel">
            <a href="http://bqworks.com">
                <img class="as-background" src="assets/images/img-slider2.jpg">
            </a>

            <div class="as-layer as-closed as-white as-vertical panel-counter"
                 data-position="bottomLeft" data-horizontal="8" data-vertical="8">
                 web-development
            </div>

            <div class="as-layer" 
                data-position="bottomLeft" data-horizontal="20" data-vertical="20" data-width="100%">
                
                <p class="as-layer as-opened as-white as-padding"
                    data-position="bottomLeft"
                    data-show-transition="left" data-hide-transition="up" data-show-delay="400" data-hide-delay="200">
                    Lorem ipsum
                </p>

                <p class="as-layer as-opened as-black as-padding hide-small-screen"
                    data-position="bottomLeft" data-horizontal="120"
                    data-show-transition="left" data-hide-transition="up" data-show-delay="600" data-hide-delay="100">
                    Customizable
                </p>

                <p class="as-layer as-opened as-white as-padding hide-small-screen"
                    data-position="bottomLeft" data-horizontal="245"
                    data-show-transition="left" data-hide-transition="up" data-show-delay="800">
                    internationalisation
                </p>
            </div>
        </div>

        <!-- Panel 3 -->
        <div class="as-panel">
            <a href="http://bqworks.com">
                <img class="as-background" src="assets/images/image-slider3.jpg">
            </a>

            <div class="as-layer as-closed as-white as-vertical panel-counter"
                 data-position="bottomLeft" data-horizontal="8" data-vertical="8">
                 Sadup
            </div>

            <p class="as-layer as-opened as-white as-padding" 
                data-horizontal="center" data-vertical="44%" 
                data-show-transition="right" data-hide-transition="left" data-show-delay="500" >
                Smooth Horizontal Text Scroller - jQuery eocjsNewsticker
            </p>
            <p class="as-layer as-opened as-black as-padding hide-small-screen" 
                data-horizontal="center" data-vertical="58%" 
                data-show-transition="left" data-show-delay="700" data-hide-transition="right" data-hide-delay="200">
                An easy yet configurable jQuery news ticker plugin which smoothly, horizontally.
            </p>
        </div>

        <!-- Panel 4 -->
        <div class="as-panel">
            <a href="http://bqworks.com">
                <img class="as-background" src="assets/images/image-slider4.jpg">
            </a>

            <div class="as-layer as-closed as-white as-vertical panel-counter"
                 data-position="bottomLeft" data-horizontal="8" data-vertical="8">
                 UI-design
            </div>

            <p class="as-layer as-opened as-black as-padding" 
                data-position="bottomLeft"
                data-show-transition="up" data-hide-transition="down">
                The “UI” in UI design stands for “user interface.” The user interface is the graphical layout of an application. It consists of the buttons . <span class="hide-medium-screen">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
            </p>
        </div>

        <!-- Panel 5 -->
        <div class="as-panel">
            <a href="http://bqworks.com">
                <img class="as-background" src="assets/images/image-slider5.jpg">
            </a>

            <div class="as-layer as-closed as-white as-vertical panel-counter"
                 data-position="bottomLeft" data-horizontal="8" data-vertical="8">
                 angular
            </div>

            <p class="as-layer as-opened as-white as-padding" 
                data-vertical="10" data-horizontal="2%" data-width="96%" 
                data-show-transition="down" data-show-delay="400" data-hide-transition="up">
                A component-based framework for building scalable web applications · A collection of well-integrated libraries that cover a wide variety of .</span> <span class="hide-medium-screen">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
            </p>
        </div>

        <!-- Panel 6 -->
        <div class="as-panel">
            <a href="http://bqworks.com">
                <img class="as-background" src="assets/images/image-slider6.jpg">
            </a>

            <div class="as-layer as-closed as-white as-vertical panel-counter"
                 data-position="bottomLeft" data-horizontal="8" data-vertical="8">
                 jquery
            </div>

            <p class="as-layer as-opened as-white as-padding" 
                data-horizontal="10" data-vertical="10" data-width="35%">
                Lorem ipsum dolor sit amet <span class="hide-small-screen">, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span> <span class="hide-medium-screen">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
            </p>
        </div>

    </div>
</div>
</section>
<!-- End of Accordion Slider -->
<!--image slider-->

<!--footer section start-->
<footer class="page-footer bg-image pt-5 pb-3" style="background-image:url(assets/images/footer-img.jpg); bottom: 0; width: 100%;" id="contact">
    <div class="container footer-menu">
        <div class="row">
            <div class="col-lg-3 col-sm-4 footer-menu1">
                <h3>Bharath</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero amet, repellendus eius blanditiis in iusto eligendi iure.</p>
                <div class="icon">
                   <i class="fa fa-facebook-official mr-1" aria-hidden="true"id="icon1"></i>
                    <i class="fa fa-whatsapp mr-1" aria-hidden="true"id="icon2"></i>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 footer-menu2">
                <h3>company</h3>
                <p><a href="#">ABOUT-US</a></p>
                <p><a href="#">CAREER</a></p>
                <p><a href="#">ADVERTISE</a></p>
                <p><a href="#">TERMS OF SERVICE</a></p>
            </div>
            <div class="col-lg-3 col-sm-4 footer-menu3">
                <h3>contact-us</h3>
                <p><a href="#">203 Fake St. Mountain View, San Francisco, California, USA</a></p>
                <p><a href="#">+91 8790456921</a></p>
                <p><a href="#">bharathmanpur5@gmail.com</a></p>
            </div>
            <div class="col-lg-3 col-sm-4 footer-menu4">
                <h3>newsletter</h3>
                <p>Get updates, news or events on your mail.</p>
                <form action="#">
                    <div class="form-group">
                        <label for="email" class="text-secondary">Enter Your Email address:</label>
                        <input type="email" class="form-control" placeholder="Enter Email" id="email">
                    </div>
                    <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </div>
                </form>
            </div>
        
        </div>
  

    </div>
    <hr style="height:1px;border-width:0;;background-color:rgb(0, 24, 32)">
    <div class="text-center description">
        <p>Copyright © 2021. This template design and develop by BHARATH</p>
    </div>
</footer>
                
        
<!--footer section end-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>